</main>

<footer class="w-full h-8 bg-slate-300 border-t-3 border-white
fixed left-0 bottom-0
flex justify-center items-center
text-white text-xl font-mono">
    <p>Copyright &copy; Random Shop 2022</p>
</footer>

</body>

</html>