<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>

  <title>Random Shop</title>
</head>

<body>
  <header class="bg-orange-500 px-10 py-10 mb-3">
    <nav class="text-white">
      <ul class="list-none">
        <img src="/img/download.png" class="inline-block pl-4 object-contain h-20 w-20">
        <li class="inline-block text-2xl italic bold indent-5">Random Shop</li>

        <li class="inline-block text-4xl italic bold indent-10 pl-40 text-black font-serif">Welcome to Random Shop!</li>

        <!--Sign in and Sign up portion-->  
        <li class="inline-block pl-60 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"><a href="/Signin">Sign In</a></li>

        <li class="inline-block indent-20 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"><a href="/Signup">Sign Up</a></li>
      </ul>
    </nav>
  </header>

</body>
