<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>

  <title>Random Shop</title>
</head>

<body>
  <header class="bg-orange-500 px-10 py-10 mb-3">
    <nav class="text-white">
      <ul class="list-none">
        <img src="/download.png" class="inline-block pl-4 object-contain">
        <li class="inline-block text-2xl italic bold indent-20">Random Shop</li>
        <!--Sign in and Sign up portion-->  
        <li class="inline-block pl-96 indent-96"><a href="/Signin">Sign In</a></li>
        <li class="inline-block indent-20"><a href="/Signup">Sign Up</a></li>
      </ul>
    </nav>
  </header>

</body>
