<%- include('partials/header'); -%>
<main>
    <body>
        <!--recommended section header-->
        <div>
            <p class="inline-block text-3xl font-bold pl-10 mt-5">Things that are trending today</p>
        </div>

        <!--rendering of the products and their description-->
        <div class="pl-10 mt-20">
            <ul>
                <li class="inline-block mr-10">
                    <p>Apple IPods</p>
                    <p>$300</p>
                </li>
                <li class="inline-block mr-10">
                    <p>Apple IPhone</p>
                    <p>$400</p>
                </li>
                <li class="inline-block mr-10">
                    <p>Apple Macbook</p>
                    <p>$700</p>
                </li>
            </ul>
        </div>

        <!--Recommended Brands-->

        <div>
            <p class="inline-block text-xl font-bold pl-10 mt-10">Recommended brands</p>
        </div>

        <div class="pl-10 mt-20 mb-20">
            <ul>
                <li class="inline-block mr-10">
                    <p>Apple IPods</p>
                    <p>$300</p>
                </li>
                <li class="inline-block mr-10">
                    <p>Apple IPhone</p>
                    <p>$400</p>
                </li>
                <li class="inline-block mr-10">
                    <p>Apple Macbook</p>
                    <p>$700</p>
                </li>
            </ul>
        </div>


        



    </body>
</main>

<%- include('partials/footer'); -%>
