<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>

  <title>Random Shop</title>
</head>

<body>
  <header class="bg-orange-500 px-10 py-10 mb-3">
    <nav class="text-white">
      <ul class="list-none">
        <img src="/download.png" class="inline-block pr-8 object-contain" />
        <li class="inline-block pr-4 text-2xl italic bold indent-10">
          Random Shop
        </li>
        <li
          class="inline-block pr-4 text-3xl italic bold text-center indent-72"
        >
          Welcome Username!
        </li>

        <!--Wishlist and logout portion-->
        <li
          class="inline-block pl-10 text-right text-black underline decoration-solid mr-10 indent-36"
        >
          <a href="/wishlist">Wishlist</a>
        </li>

        <li class="inline-block pr-10 text-right indent-10">
          <form method="POST" action="/logout">
            <!--Update logout parameters-->
           <button>Logout</button>
          </form>
        </li>
      </ul>
    </nav>
  </header>
</body>

<main>
  <body>
    <!--recommended section header-->
    <div>
      <p class="inline-block text-3xl font-bold pl-10 mt-5">Things that are trending today</p>
  </div>

  <!--rendering of the products and their description-->
  <div class="pl-10 mt-20">
      <ul>

          <li class="inline-block mr-60">
              <img src="/img/Apple IPod.jpg" class="mb-10">
              <p class="font-bold text-l">Apple IPods</p>
              <p class="italic text-sm mt-2">$300</p>
          </li>

          <li class="inline-block mr-60">
              <img src="/img/iphone-12-family-select-2021.jpg" class="mb-10">
              <p class="font-bold text-l">Apple IPhone</p>
              <p class="italic text-sm mt-2">$400</p>
          </li>

          <li class="inline-block mr-60">
              <img src="/img/Macbook.jpg" class="mb-10">
              <p class="font-bold text-l">Apple Macbook</p>
              <p class="italic text-sm mt-2">$700</p>
          </li>

          <li class="inline-block mr-40">
              <img src="/img/Armani Exchange shirt.webp" class="mb-10">
              <p class="font-bold text-l">Armani exchange shirt</p>
              <p class="italic text-sm mt-2">$130</p>
          </li>

      </ul>
  </div>

  <!--Recommended Brands-->

  <div>
      <p class="inline-block text-xl font-bold pl-10 mt-20">Recommended brands</p>
  </div>

  <div class="pl-10 mt-20 mb-20">
      <ul>

          <li class="inline-block mr-10">
              <img src="/img/Louis Vuitton Brand.png" class="object-contain hover:object-scale-down" alt="Louis Vuitton brand image" >
              <p class="text-2xl font-bold mt-36 mr-52"><a href="https://ap.louisvuitton.com/eng-sg/homepage">Louis Vuitton</a></p>
          </li>

          <li class="inline-block mr-10">
              <img src="/img/Nike brand.jpg" class="object-contain hover:object-scale-down" alt="Nike brand image" >
              <p class="text-2xl font-bold mt-36 mr-60"><a href="https://www.nike.com/sg/">Nike</a></p>
          </li>

          <li class="inline-block mr-10">
              <img src="/img/Apple-Logo-Black-Background-Wallpaper.jpg" class="object-contain hover:object-scale-down" alt="Apple brand image" >
              <p class="text-2xl font-bold mt-36 mr-60"><a href="https://www.apple.com/sg/">Apple</a></p>
          </li>

          <li class="inline-block mr-10">
              <img src="/img/Armani Logo.png" class="object-contain hover:object-scale-down" alt="Armani brand image" >
              <p class="text-2xl font-bold mt-36 mr-30"><a href="https://www.armani.com/en-my">Armani</a></p>
          </li>
      </ul>
  </div>

  </body>
</main>

<%- include('../partials/footer'); -%>
