<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>

  <title>Random Shop</title>
</head>

<body>
  <header class="bg-orange-500 px-10 py-10 mb-3">
    <nav class="text-white">
      <ul class="list-none">
        <img src="/img/download.png" class="inline-block ml-10 object-contain h-20 w-20">
        <li class="inline-block text-2xl italic bold indent-10 ">
          Random Shop
        </li>
        <li
          class="inline-block pr-4 text-3xl italic bold text-center indent-72 animate-pulse"
        >
          Welcome Username!
        </li>

        <!--Wishlist and logout portion-->
        <li
          class="inline-block pl-10 text-right text-black underline decoration-solid mr-20 indent-36 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
        >
          <a href="/wishlist">Wishlist</a>
        </li>

        <li
          class="inline-block pr-10 mr-15 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
        >
          <form method="POST" action="/logout">
            <!--Update logout parameters-->
            <button>Logout</button>
          </form>
        </li>
      </ul>
    </nav>
  </header>
</body>

<main>
  <body>
    <!--recommended section header-->
    <div>
      <p class="inline-block text-3xl font-bold pl-10 mt-5">
        Things that are trending today
      </p>
    </div>

    <!--rendering of the products and their description-->
    <div class="pl-10 mt-20">
      <ul>
        <li
          class="inline-block mr-52 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
        >
          <a href="https://www.apple.com/sg/airpods/">
            <img src="/img/Apple IPod.jpg" class="mb-10 h-32 w-32" />
            <p class="font-bold text-l">Apple AirPods</p>
            <p class="italic text-sm mt-2">$300</p>
          </a>
        </li>

        <li
          class="inline-block mr-52 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
        >
        <a href="https://www.apple.com/sg/iphone/">
          <img src="/img/iphone-12-family-select-2021.jpg" class="mb-10 h-32 w-32" />
          <p class="font-bold text-l">Apple IPhone</p>
          <p class="italic text-sm mt-2">$400</p>
        </a>
        </li>

        <li
          class="inline-block mr-52 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
        >

        <a href="https://www.apple.com/sg/mac/">
          <img src="/img/Macbook.jpg" class="mb-10 h-32 w-32" />
          <p
            class="font-bold text-l transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
          >
            Apple Macbook
          </p>
          <p
            class="italic text-sm mt-2 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
          >
            $700
          </p>
        </a>
        </li>

        <li
          class="inline-block mr-40 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
        >
        <a href="https://www.armaniexchange.com/us/men/shirts">
          <img src="/img/Armani Exchange shirt.webp" class="mb-10 h-32 w-32" />
          <p class="font-bold text-l">Armani exchange shirt</p>
          <p class="italic text-sm mt-2">$130</p>
        </a>
        </li>
      </ul>
    </div>

    <!--Recommended Brands-->

    <div>
      <p class="inline-block text-xl font-bold pl-10 mt-20">
        Recommended brands
      </p>
    </div>

    <div class="pl-10 mt-20 mb-20">
      <ul>
        <li
          class="inline-block mr-10 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
        >
        <a href="https://ap.louisvuitton.com/eng-sg/homepage"
              >
          <img
            src="/img/Louis Vuitton Brand.png"
            class="object-contain hover:object-scale-down"
            alt="Louis Vuitton brand image"
          />
          <p class="text-2xl font-bold mt-36 mr-52">
            Louis Vuitton
          </p>
          </a>
        </li>

        <li
          class="inline-block mr-10 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
        >
        <a href="https://www.nike.com/sg/">
          <img
            src="/img/Nike brand.jpg"
            class="object-contain hover:object-scale-down h-60 w-60"
            alt="Nike brand image"
          />
          <p class="text-2xl font-bold mt-36 mr-60">
            Nike
          </p>
        </a>
        </li>

        <li
          class="inline-block mr-10 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
        >
        <a href="https://www.apple.com/sg/">
          <img
            src="/img/Apple-Logo-Black-Background-Wallpaper.jpg"
            class="object-contain hover:object-scale-down h-64 w-64"
            alt="Apple brand image"
          />
          <p class="text-2xl font-bold mt-36 mr-60">
            Apple
          </p>
        </a>
        </li>

        <li
          class="inline-block mr-10 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
        >
        <a href="https://www.armani.com/en-my">
          <img
            src="/img/Armani Logo.png"
            class="object-contain hover:object-scale-down h-64 w-64"
            alt="Armani brand image"
          />
          <p class="text-2xl font-bold mt-36 mr-30">
            Armani
          </p>
          </a>
        </li>
      </ul>
    </div>
  </body>
</main>

<%- include('../partials/footer'); -%>
